.header {
  text-align: center;
  padding: 60px 0;
  margin: 0 auto 32px;
  background-color: rgba(130, 36, 36, 0.55);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;  
  color: rgb(204, 204, 204);
}

.card {
  background-color: rgb(130, 36, 36);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 100%;
  max-width: 100%;  
}

.card-content {
  padding: 16px 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f1f1f1;
  line-height: 1.6;
  color: rgb(204, 204, 204);
  background-image: url("website background.jpg"); /* or full URL */
  background-size: cover;  /* fills screen */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* keeps image still while scrolling */
}
.page-wrapper {
  flex: 1;
}
