* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f1f1f1;
  line-height: 1.6;
  color: rgb(204, 204, 204);
  background-image: url("website background.jpg"); /* or full URL */
  background-size: cover;  /* fills screen */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* keeps image still while scrolling */
}
.page-wrapper {
  flex: 1;
}

@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
  }
  
  .sidebar {
    position: static;
  }
}


.card {
  background-color: rgb(130, 36, 36);
  border-radius: 6px;
  overflow: hidden;
  margin: 24px auto;  /* <— THIS centers the card */
  width: 100%;
  max-width: 50%; 
}

.card-content {
  padding: 16px 20px;
}

.card-title {
  font-size: 26px;
  color: RGB(204, 204, 204);
  font-weight: bold;
  text-align: center;
}

.card-subtitle {
  opacity: 0.6;
  font-size: 15px;
  color: rgb(204, 204, 204);
  margin-bottom: 12px;
  text-align: center;
}


.btn {
  background: rgb(48, 63, 84); /* or your chosen color */
  color: rgb(230, 230, 230);
  padding: 8px 14px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

.btn:hover {
  background: rgb(50, 0, 0); /* darker on hover */
  color: white;
}


.sidebar-section {
  background-color: rgb(130, 36, 36);
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 6px;
  max-width: 100%;
  margin: 0;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: rgb(204, 204, 204);
}


.header {
  text-align: center;
  padding: 60px 0;
  margin: 0 auto 32px;
  background-color: rgba(130, 36, 36, 0.55);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;  
  color: rgb(204, 204, 204);
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.header p {
  font-size: 18px;
  color: rgb(204, 204, 204);
}

.layout {
  display: flex;
  justify-content: center;
  gap: 2rem;
}



.sidebar {
  position: sticky;
  top: 1rem; /* optional */
}

.about{
  position: sticky;
  top: 20px;
  width: 300px;
}

.page-wrapper {
  max-width: 800px;
  margin: auto;
}

.post-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.post-links a {
  display: inline-block !important;  /* <-- FIXES THE STACKING ISSUE */
}
