* { box-sizing: border-box; 
   margin: 0; 
   padding: 0; 
  }

body {
  font-family: "Roboto", sans-serif;
  background: #f1f1f1;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}


@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .sidebar {
    position: static;
  }
}


.card {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  margin-bottom: 1.5rem;
}

.content {
  width: 100%;
}

.card-title {
  font-size: 26px;
  font-weight: bold;
}

.card-subtitle {
  opacity: 0.6;
  font-size: 15px;
  margin-bottom: 12px;
}

.card img {
  max-width: 100%;
  display: block;
  border-radius: 6px;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid #000;
  text-decoration: none;
  font-size: 15px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #000;
  color: white;
}


.sidebar-section {
  background: white;
  padding: 20px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border-radius: 6px;
  max-width: 100%;
  margin: 0;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}


.header {
  margin-bottom: 32px;
  text-align: center;
  padding: 60px 0;
  margin: 0 auto 32px;
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.header p {
  font-size: 18px;
  color: #555;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 320px; /* change 320px to desired sidebar width */
  gap: 2rem;
  align-items: start;
}


.sidebar {
  /* keep the about card visible while scrolling */
  position: sticky;
  top: 1rem;
  height: fit-content; /* prevents weird stretching */
}

.about {
   margin-bottom: 0;
   background: white;
   margin-bottom: 24px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.15);
   border-radius: 6px;
}

.site-header {
  text-align: center;
  margin-bottom: 2rem;
}
