* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f1f1f1;
  line-height: 1.6;
  color: black;
  background-image: url("website background.jpg"); /* or full URL */
  background-size: cover;  /* fills screen */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* keeps image still while scrolling */
}
.page-wrapper {
  flex: 1;
}

@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
  }
  
  .sidebar {
    position: static;
  }
}


.card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  margin-bottom: 24px;
  width: 100%;
  max-width: 100%;  
  margin: 0;
  
}

.card-content {
  padding: 16px 20px;
}

.card-title {
  font-size: 26px;
  font-weight: bold;
}

.card-subtitle {
  opacity: 0.6;
  font-size: 15px;
  margin-bottom: 12px;
}


.btn {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid #000;
  text-decoration: none;
  font-size: 15px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #000;
  color: white;
}


.sidebar-section {
  background: white;
  padding: 20px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border-radius: 6px;
  max-width: 100%;
  margin: 0;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}


.header {
  text-align: center;
  padding: 60px 0;
  margin: 0 auto 32px;
  background-color: rgba(130, 36, 36, 0.55);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;  
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.header p {
  font-size: 18px;
  color: #555;
}

.layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}

.content .card {
  margin-bottom: 2rem;
}

.sidebar {
  position: sticky;
  top: 1rem; /* optional */
}

.about{
  position: sticky;
  top: 20px;
  width: 300px;
}

.page-wrapper {
  max-width: 800px;
  margin: auto;
}
